.bg-cover {
    background-image: url("../../Images/dna-bacterias_freepik.jpg"); 
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.jumbotron{
    color: #01020f;
    font-weight: 1000;
    
}